.nav-bar{
    display: flex;
}

.logo{
    margin: 31px 41px;
}

nav{
    margin: 30px;
    margin-left: 12px;
}

nav a{
    text-decoration: none;
    color:#696969;
    padding: 13px;
}

nav a:hover{
    color: #000000;
}

.registraion{
    display: flex;
    position: absolute;
    column-gap: 50%;
    margin: 30px 78rem;
}

.log-in
a{
    text-decoration: none;
    color: black;
}

.register-btn
button{
    position: absolute;
    padding: 11px 22px; 
    margin-top: -10px;
    border-radius: 13px;
    background-color: transparent;
    border-style: solid;
}
